@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: auto;
    background-color: #1C1C1C;
}

.main {
    margin:  50px auto;
    width: 446px;
    height: 320px;
    background-color: #1F2937;
    padding: 115px 52px;
    font-family: "Karla", sans-serif;
}

.heading{
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #F3F4F6;
    text-shadow: 0px 0px 2px black;
}

#heading {
    display: block;
    color: #55F991;
}

.suggestion {
    color: #D5D4D8;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 12px 0 0 0;
    text-shadow: 0px 0px 2px black;
}

.generate-passwords {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    background-color: #10B981;
    border: none;
    padding: 9px 17px;
    border-radius: 6px;
    margin: 50px 0 0 0;
}

hr {
    margin-top: 30px;
    margin-bottom: 0px;
    color: #2F3E53;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0 0 ;
}

.password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 211px;
    height: 39px;
    color: #55F991;
    background-color: #273549;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    border-radius: 6px;
}

#password1 {
    margin-right: 10px;
}

.pass {
   margin-left: 10px; 
}

#copy {
    width: 20px;  
    background-color: #D5D4D8;
    border-radius: 3px;
    margin-right: 10px;
}